.custom-timepicker.ant-picker-disabled {
    background-color: white !important; 
    opacity: 1 !important; /* Ensure it’s fully visible */
}

.custom-timepicker.ant-picker-disabled .ant-picker-input input {
    color: #9BA7B7 !important; /* Optional: Change text color */
}