.quillbooking-navbar {
    width: 265px;
    height: 100%;

    h1 {
        font-weight: 600;
        font-size: 18px;
        color: #3F4254;
    }
    

    .custom-menu {
        width: 265px;
        height: 100%;
        padding: 10px 20px;
        position: relative;
    }

    .group {
        margin-top: 30px;
    }

    .custom-menu .ant-menu-item {
        background: transparent;
        transition: background 0.3s ease-in-out;
        margin-bottom: 12px;
    }

    .custom-menu .ant-menu-item:hover,
    .custom-menu .ant-menu-item-selected {
        background: #953AE4 !important;
    }

    .custom-menu .ant-menu-item:hover div,
    .custom-menu .ant-menu-item-selected div {
        color: white !important;
    }

    .custom-menu .ant-menu-item:last-child {
        padding-right: 0px;
    }

    .navbar-upgrade-button {
        background-color: #B7F005 !important;
        color: #292D32 !important;
        font-size: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-weight: 500;
        padding: 10px 16px;
        width: 100%;
        text-decoration: none;
    }

    .navbar-upgrade-button:hover {
        background: transparent !important;
    }

    .custom-menu .ant-menu-item:hover .navbar-upgrade-button {
        background-color: #B7F005 !important;
        color: #292D32 !important;
    }
}